[Unit]
Description=Run hciattach when dbus becomes available
Before=bluetooth.service
After=dbus.service wlan-module-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droid/start-bluetooth-adapter.sh
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.target
